services:
  frontend:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8501:8501"
    environment:
      - BACKEND_ENDPOINT=http://host.docker.internal:8000/
    restart: unless-stopped
