langchain-core
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-docling


duckduckgo-search
sentence-transformers

hydra-core
beautifulsoup4
fastapi
pypdf
pdfplumber
pypinyin
